
.icon-picture:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */